img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #000;
    opacity: 0.3;
    padding: .3rem .1rem;
    font-weight: 700;
    text-transform: uppercase;
}

a:hover {
    color: $secondary-color;
    opacity: 1;
}

li {
    display: inline;
    padding-left: 1rem;
}

.container { 
    padding: 3rem 4rem;
}

.current {
    color: $secondary-color !important; 
    opacity: 1 !important;
    font-weight: 700;
    text-transform: uppercase;
}

.hide {
    display: none !important;
}